*{
  box-sizing: border-box;
}
/* ======= Text ========= */
body{
  background-color: #FFFFFF;
  font-family: 'Poppins', sans-serif;
  font-size: 16px; /* Sets the font size to 16px */
  font-weight: 300; /* Sets the font weight to 300 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: #37383A;
}
h1, h2, h3, h4 {
  line-height: 1.4;
}
h1 {
  font-size: 2.75em;
  font-weight: 600;
  text-align: center;
  background-color: #A9C1C2;
  color: white;
}

h2 {
  font-size: 2.25em;
  font-weight: 600;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}
h4 {
  font-size: 1.35em;
  font-weight: 400;
}
/* ======= Header ========= */
header{
  background-color: #F5F5F5;
  padding: 10px 5px;
  text-align: center;
  box-shadow: 7px 7px 9px 0px rgba(50, 50, 50, 0.21);
  width: 100%;
  position: fixed;
}
nav > ul {
  list-style-type: none;
  padding: 0
}
nav > ul > li {
  display: inline-block;
}
nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4a4a4a;
}
.logo{
  max-width: 250px;
  text-align: center;
  width: 100%;
}
/* ======= Hero ========= */
#hero h1 span {
  font-weight: 300;
}
#hero h1 {
  text-align: left;
  color: white;
}
#hero {
  background-color: #A9C1C2;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
  padding-top: 133px;
}
/* ======= Buttons and Links ========= */
a:visited { /* visited link */
  color: #86A1A7;
}
a:active { /* selected link */
  color: #86A1A7;
}
a {
  color: #86A1A7;
  text-decoration: none; /* No underlining */
}
a:hover,
a:focus {
  color: #A9C1C2;
  text-decoration: underline; /* Underlining when hovering over a link */
}
.button {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  font-weight: 400;
  padding: 14px;
  border-radius:50px;
  transition-duration: 0.2s;
  transition-property: opacity;
}
.button:hover {
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}
.button.info {
  background-color: #A9C1C2;
  color: #FFFFFF; /* needed to override the default link color */
  font-weight: 400;
  padding: 14px;
  border-bottom: 2px solid #86A1A7; /* width of the border, type, color */
}
.button.contact {
  background-color: transparent;
  color: #A9C1C2;
  border: 2px solid #A9C1C2;
}
.button.contact:hover {
  opacity: 0.6;
}
/* ======= Images ========= */
img {
  width: 100%;
}
#image {
  text-align: center;
}
#profile-pic {
  max-width: 100%
}
.screens {
  text-align: center;
}
.simple-lowfid {
  width: 30%;
  box-shadow: 5px 5px 7px 0px rgba(50, 50, 50, 0.21);
  margin: 4px;
}
.mockup {
  width: 25%;
  margin: 6px;
}
.mockups {
  text-align: center;
}
.happy-lowfid {
  width: 20%;
  margin: 5px;
  box-shadow: 5px 5px 7px 0px rgba(50, 50, 50, 0.21);
}
.lowfid {
  text-align: center;
}
.happy-midfid {
  width: 20%;
  margin: 5px;
  box-shadow: 5px 5px 7px 0px rgba(50, 50, 50, 0.21);
}
.midfid {
  text-align: center;
}
#feedback {
  padding-top: 20px;
  padding-bottom: 20px;
  max-width: 70%;
}
.project-image {
  width: 60%;
  margin: 0 auto;
  text-align: center;
}
.picture-row {
  width: 100%;
  text-align: center;
}
/* ======= Layout Styling ========= */
.container {
  padding: 0 15px;
}
.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
}

.overview {
  padding-top: 90px
}
.center {
  text-align: center;
}
.description {
  color: white;
}
.icon {
  height: 32px;
  width: 32px;
}
.icon-link:hover {
  text-decoration: none;
}
#icon-row {
  padding-top: 10px;
  text-align: right;
}
#copyright {
  text-align: right;
}
#work .row {
  padding-bottom: 25px; border-bottom: 1px solid #4a4a4a;
}

/* ==============================
Medium devices (640px and larger)
================================= */

@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }
  .simple-lowfid {
    width: 25%;
    box-shadow: none;
    margin: 6px;
  }
  nav {
    width: auto;
    float: right;
    margin-right: 10px;
  }
  .col-md-6 {
  width: 50%;
  }
  [class*="col-"] {
  float: left;
  padding-right: 20px;
  }
  .row::after {
  content: "";
  clear: both;
  display: table;
  }
  #hero {
    padding-top: 92px;
    text-align: center;
  }
  #hero h1 {
    text-align: center;
  }
  #hero span {
  display: block;
  }
  h3 {
    margin-top: 0px;
  }
  h2 {
    margin-bottom: 10px;
  }
  #about {
    padding-top: 92px;
  }
  #about-page p {
    padding-right: 30px;
  }
  #work h3 {
    margin-bottom: 0px;
  }
  #profile-pic {
    max-width: 50%;
  }
  #profile {
    text-align: center;
  }
}

/* ==============================
Large devices (1024px or larger)
================================= */

@media only screen and (min-width: 1024px) {
  .col-md-5 {
  width: 41.66%;
  }
  .col-md-7 {
  width: 58.33%;
  }
  .container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  }
}

/* ==============================
X-large devices (1440px or larger)
================================= */

@media only screen and (min-width: 1440px) {

}
/*
Colors used:
Primary Color (Blue): #86A1A7;
Secondary Color (Green): #B6C2A9;
*/
